## Q-6.
Imagine you have a dataset where you have predicted loan Eligibility using any
4 different classification algorithms. Now you have to build a model which can
predict loan Eligibility and you need to find the accuracy of the model and built-in
docker and use some library to display that in frontend.
Dataset This is the Dataset You can use this dataset for this question.

In [2]:
import pandas as pd

data = pd.read_csv('loan_approval.csv')
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [4]:
data.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
data = data.dropna()

In [6]:
data.isna().sum().sum()

0

In [7]:
data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [8]:
data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [9]:
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()

data = data.drop(['Loan_ID'], axis=1)
data['Gender'] = encoder.fit_transform(data.Gender.values)
data['Married'] = encoder.fit_transform(data.Married.values)
data['Dependents'] = encoder.fit_transform(data.Dependents.values)
data['Education'] = encoder.fit_transform(data.Education.values)
data['Self_Employed'] = encoder.fit_transform(data.Self_Employed.values)
data['Property_Area'] = encoder.fit_transform(data.Property_Area.values)
data['Loan_Status'] = encoder.fit_transform(data.Loan_Status.values)

data

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [10]:
data['Dependents'].value_counts

<bound method IndexOpsMixin.value_counts of 1      1
2      0
3      0
4      0
5      2
      ..
609    0
610    3
611    1
612    2
613    0
Name: Dependents, Length: 480, dtype: int32>

In [11]:
# Define features and target variable
X = data.drop(['Loan_Status'], axis=1)
y = data['Loan_Status']

In [12]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score


# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train and evaluate classification algorithms
models = {
    "Logistic Regression": LogisticRegression(),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "SVM": SVC()
}

accuracy_results = {}

for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    accuracy_results[model_name] = accuracy
    
print(accuracy_results)
# Choose the model with the highest accuracy
best_model_name = max(accuracy_results, key=accuracy_results.get)
best_model = models[best_model_name]

{'Logistic Regression': 0.8229166666666666, 'Decision Tree': 0.75, 'Random Forest': 0.8125, 'SVM': 0.7083333333333334}

In [13]:
best_model

LogisticRegression()

In [14]:
best_model.predict(X_test)

array([1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1])

In [15]:
X_test.values.tolist()

[[1.0, 1.0, 2.0, 1.0, 0.0, 3273.0, 1820.0, 81.0, 360.0, 1.0, 2.0],
 [1.0, 0.0, 0.0, 1.0, 0.0, 6783.0, 0.0, 130.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 3510.0, 4416.0, 243.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 1.0, 0.0, 3000.0, 1666.0, 100.0, 480.0, 0.0, 2.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 3283.0, 2035.0, 148.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 2221.0, 0.0, 60.0, 360.0, 0.0, 2.0],
 [1.0, 1.0, 2.0, 1.0, 0.0, 3083.0, 2168.0, 126.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 2083.0, 3150.0, 128.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 1977.0, 997.0, 50.0, 360.0, 1.0, 1.0],
 [1.0, 0.0, 0.0, 0.0, 0.0, 3333.0, 0.0, 70.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 3200.0, 700.0, 70.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 4750.0, 2333.0, 130.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 1.0, 0.0, 0.0, 5468.0, 1032.0, 26.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 4566.0, 0.0, 100.0, 360.0, 1.0, 2.0],
 [1.0, 0.0, 0.0, 0.0, 0.0, 3600.0, 0.0, 80.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 2957.0, 0.0, 81.0, 360.0, 1.0, 1.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 4300.0, 0.0, 136.0, 360.0, 0.0, 1.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 2138.0, 0.0, 99.0, 360.0, 0.0, 1.0],
 [1.0, 1.0, 1.0, 0.0, 0.0, 5649.0, 0.0, 44.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 14683.0, 2100.0, 304.0, 360.0, 1.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 8333.0, 0.0, 280.0, 360.0, 1.0, 1.0],
 [1.0, 0.0, 0.0, 1.0, 0.0, 3833.0, 0.0, 110.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 5695.0, 4167.0, 175.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 2.0, 0.0, 1.0, 2500.0, 4600.0, 176.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 2.0, 1.0, 0.0, 4200.0, 1430.0, 129.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 3232.0, 1950.0, 108.0, 360.0, 1.0, 0.0],
 [1.0, 0.0, 2.0, 0.0, 0.0, 4354.0, 0.0, 136.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 1.0, 0.0, 6096.0, 0.0, 218.0, 360.0, 0.0, 0.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 5488.0, 0.0, 125.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 1.0, 0.0, 0.0, 4583.0, 1508.0, 128.0, 360.0, 1.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 3159.0, 0.0, 100.0, 360.0, 1.0, 1.0],
 [1.0, 0.0, 0.0, 0.0, 0.0, 1853.0, 2840.0, 114.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 1.0, 0.0, 0.0, 18333.0, 0.0, 500.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 1.0, 0.0, 0.0, 3333.0, 3250.0, 158.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 8333.0, 0.0, 246.0, 360.0, 1.0, 1.0],
 [1.0, 0.0, 0.0, 0.0, 0.0, 9166.0, 0.0, 244.0, 360.0, 1.0, 2.0],
 [1.0, 0.0, 3.0, 0.0, 0.0, 9167.0, 0.0, 185.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 4009.0, 1717.0, 116.0, 360.0, 1.0, 1.0],
 [0.0, 1.0, 1.0, 0.0, 0.0, 12000.0, 0.0, 496.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 0.0, 1.0, 0.0, 2600.0, 1911.0, 116.0, 360.0, 0.0, 1.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 2666.0, 4300.0, 121.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 5819.0, 5000.0, 120.0, 360.0, 1.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 10408.0, 0.0, 259.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 14583.0, 0.0, 436.0, 360.0, 1.0, 1.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 4230.0, 0.0, 112.0, 360.0, 1.0, 1.0],
 [0.0, 1.0, 0.0, 1.0, 0.0, 2149.0, 3237.0, 178.0, 360.0, 0.0, 1.0],
 [0.0, 0.0, 0.0, 1.0, 0.0, 2165.0, 0.0, 70.0, 360.0, 1.0, 1.0],
 [0.0, 1.0, 0.0, 0.0, 0.0, 2484.0, 2302.0, 137.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 1.0, 1.0, 0.0, 2600.0, 2500.0, 90.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 3.0, 0.0, 0.0, 3167.0, 4000.0, 180.0, 300.0, 0.0, 1.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 645.0, 3683.0, 113.0, 480.0, 1.0, 0.0],
 [1.0, 0.0, 0.0, 0.0, 0.0, 3750.0, 0.0, 100.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 3.0, 0.0, 0.0, 4281.0, 0.0, 100.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 3.0, 0.0, 1.0, 10139.0, 0.0, 260.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 3100.0, 1400.0, 113.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 3.0, 1.0, 0.0, 3173.0, 0.0, 74.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 1.0, 0.0, 0.0, 3052.0, 1030.0, 100.0, 360.0, 1.0, 2.0],
 [0.0, 1.0, 0.0, 0.0, 0.0, 4583.0, 0.0, 84.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 1.0, 0.0, 0.0, 8072.0, 240.0, 253.0, 360.0, 1.0, 2.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 10000.0, 1666.0, 225.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 3859.0, 3300.0, 142.0, 180.0, 1.0, 0.0],
 [1.0, 1.0, 3.0, 0.0, 0.0, 15000.0, 0.0, 300.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 1.0, 0.0, 4188.0, 0.0, 115.0, 180.0, 1.0, 1.0],
 [1.0, 1.0, 3.0, 0.0, 0.0, 5516.0, 11300.0, 495.0, 360.0, 0.0, 1.0],
 [1.0, 1.0, 1.0, 0.0, 0.0, 6875.0, 0.0, 200.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 2.0, 1.0, 0.0, 1993.0, 1625.0, 113.0, 180.0, 1.0, 1.0],
 [1.0, 1.0, 0.0, 1.0, 0.0, 2253.0, 2033.0, 110.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 2500.0, 2118.0, 104.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 6250.0, 5654.0, 188.0, 180.0, 1.0, 1.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 3993.0, 3274.0, 207.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 2.0, 1.0, 0.0, 2889.0, 0.0, 45.0, 180.0, 0.0, 2.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 1759.0, 3541.0, 131.0, 360.0, 1.0, 1.0],
 [1.0, 0.0, 0.0, 0.0, 0.0, 4095.0, 3447.0, 151.0, 360.0, 1.0, 0.0],
 [1.0, 0.0, 0.0, 0.0, 0.0, 12000.0, 0.0, 164.0, 360.0, 1.0, 1.0],
 [1.0, 0.0, 0.0, 0.0, 1.0, 11000.0, 0.0, 83.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 6250.0, 0.0, 128.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 3717.0, 0.0, 120.0, 360.0, 1.0, 1.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 2900.0, 0.0, 71.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 2.0, 0.0, 0.0, 5935.0, 0.0, 133.0, 360.0, 1.0, 1.0],
 [1.0, 0.0, 0.0, 1.0, 0.0, 3620.0, 0.0, 25.0, 120.0, 1.0, 1.0],
 [1.0, 1.0, 3.0, 0.0, 0.0, 6417.0, 0.0, 157.0, 180.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 1.0, 0.0, 4887.0, 0.0, 133.0, 360.0, 1.0, 0.0],
 [1.0, 0.0, 0.0, 0.0, 0.0, 8333.0, 3750.0, 187.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 0.0, 1.0, 16120.0, 0.0, 260.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 0.0, 0.0, 1.0, 9560.0, 0.0, 191.0, 360.0, 1.0, 1.0],
 [1.0, 0.0, 0.0, 1.0, 0.0, 2755.0, 0.0, 65.0, 300.0, 1.0, 0.0],
 [0.0, 0.0, 1.0, 1.0, 1.0, 3867.0, 0.0, 62.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 3208.0, 3066.0, 172.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 2.0, 1.0, 0.0, 4652.0, 0.0, 110.0, 360.0, 1.0, 0.0],
 [0.0, 0.0, 1.0, 0.0, 0.0, 2876.0, 1560.0, 90.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 3593.0, 4266.0, 132.0, 180.0, 0.0, 0.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 3927.0, 800.0, 112.0, 360.0, 1.0, 1.0],
 [1.0, 1.0, 1.0, 0.0, 0.0, 2014.0, 2925.0, 113.0, 360.0, 1.0, 2.0],
 [1.0, 1.0, 3.0, 0.0, 1.0, 5677.0, 1424.0, 100.0, 360.0, 1.0, 0.0],
 [1.0, 1.0, 0.0, 0.0, 0.0, 3500.0, 1667.0, 114.0, 360.0, 1.0, 1.0],
 [1.0, 0.0, 2.0, 0.0, 0.0, 3617.0, 0.0, 107.0, 360.0, 1.0, 1.0]]

In [23]:
pred = best_model.predict([X_test.values.tolist()[0]])

C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [24]:
pred[0]

1

In [17]:
import pickle

# Save the model to a file
with open('loan_model.pkl', 'wb') as f:
    pickle.dump(best_model, f)